<!DOCTYPE html>
<html>
<!-- Start of BotEngine (www.botengine.ai) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "5ab2b28232d0510006bdee2d";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.botengine.ai/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<!-- End of BotEngine code -->
<head lang="en">
    <meta charset="UTF-8">
    <title>ChatWidget Demo</title>
	<link href="../static/1.css" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <th>
            ChatWidget Demo
        </th>
    </tr>
</table>
</body>
</html>